body {
background-color: #DADADA;
min-height: 1000px;
overflow-x: hidden;
}

.pretty {
border: solid grey 1px;
border-radius: 5px;
background-color: white;
}
.visible {
opacity: 1;
}

.preview-close {
opacity: 0;
background-image: url('fancybox_sprite.png');
width: 36px;
height: 36px;
position: absolute;
cursor: pointer;
z-index: 1084;
}

.demo {
width: 100%;
background-color: white;
border: inset silver 3px;
}

.demoImg {
margin: 15px;
padding: 10px;
}

#editor {
min-height: 800px;
}

#toolbar {
display: inline-block;
}
#toolbar button {
display: inline;
}

#display {
min-height: 500px;
width: 80%;
}


#editor-preview {
width: 350px;
height: 430px;
border: solid grey 1px;
border-radius: 1px;
}

